# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Memory Captures
MemoryCaptures/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
.vs/NyangTaek-chocowriter.slnx/DesignTimeBuild/.dtbcache.v2
.vs/NyangTaek-chocowriter.slnx/FileContentIndex/5d3e757e-f306-47cb-8a55-11a403c37ee4.vsidx
.vs/NyangTaek-chocowriter.slnx/FileContentIndex/88adaaea-b574-4a8a-b4ee-371154e2fa6b.vsidx
.vs/NyangTaek-chocowriter.slnx/FileContentIndex/8ad9ef4f-315b-425f-8b76-947306335a47.vsidx
.vs/NyangTaek-chocowriter.slnx/FileContentIndex/a2b17c01-6695-4560-837d-259e7b2d11f3.vsidx
.vs/NyangTaek-chocowriter.slnx/FileContentIndex/babe3e84-37b2-4a9f-b8e6-47693feae4e0.vsidx
.vs/NyangTaek-chocowriter.slnx/v18/.futdcache.v2
.vs/NyangTaek-chocowriter.slnx/v18/DocumentLayout.json
